html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(to top left, #414141, rgb(0, 0, 0));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
