.nodeModal {
  z-index: 1200;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 250px;
  top: 160px;
  border: 1px solid cyan;
  border-radius: 5px;
  li {
    list-style: none;
  }
  text {
    color: white;
    margin-right: 5px;
  }
}
