.nodeGraph {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.react-flow__panel {
  display: none;
}
.react-flow__node {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
