@use '../../styles/variables' as *;

.nodeGraph-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodeGraph {
  position: relative;
  width: 95%;
  height: 95%;
  border: 2px solid $secondary-color;
  border-radius: 1.5rem;
}

.react-flow__panel {
  display: none;
}

.react-flow__node {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
}

.navlink-graph {
  border: 2px solid $primary-color;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem 0;

  &:hover {
    border-color: $secondary-color;
  }

  &:active {
    transform: scale(0.9);
  }
}
