.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 13rem;
  color: white;
  position: fixed;
  left: 0;
  margin-left: 2rem;
}

.sidebar-list {
  list-style-type: none;
  margin: 5rem 0 0;
  padding-left: 0;
  width: 100%;
}

.navlink {
  margin: 1rem 0;
  height: 7.5rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s;
  background-color: rgb(25, 25, 25);
  border-radius: 1rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.dropdown-content {
  visibility: hidden;
  opacity: (0);
  margin: 0;
  transition: opacity 0.6s;
}

.navlink:hover {
  border: 1px solid cyan;

  .dropdown-content {
    visibility: visible;
    opacity: (1);
  }
}

.navlink-dropdown {
  border-color: rgb(44, 118, 126);
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 0.5rem;

  a {
    font-weight: normal;
    color: cyan;
  }
}
